<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
          }
            
          remote {
            helios.tcp {
              transport-class = "Akka.Remote.Transport.Helios.HeliosTspTransport, Akka.Remote"
              transport-protocol = tcp
              hostname = "localhost"
              port = 8091
            }
          }
        }
      
        akka.persistence {
          journal {
            plugin = "akka.persistence.journal.sql-server"
            sql-server {
                class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                schema-name = dbo
                auto-initialize = on
                connection-string = "Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|\\SalesOrder.mdf;Integrated Security=True"
            }
          }
          
          snapshot-store {
            plugin = "akka.persistence.snapshot-store.sql-server"
            sql-server {
                class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                schema-name = dbo
                auto-initialize = on
                connection-string = "Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|\\SalesOrder.mdf;Integrated Security=True"
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>